@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
body {
    margin: 50px 0 0 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1440px;
    /* here you can set your maximum width */
    margin: 0 auto;
    /* this will make .container centered */
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 320px;
    height: 80px;
    background: #084100 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal bold 2rem Poppins;
    letter-spacing: 0.83px;
    color: #FFFFFF;
    line-height: 250%;
}

#menu {
    width: 600px
}

#menu>ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

#menu>ul>li a {
    text-align: left;
    letter-spacing: 0.5px;
    color: #003200;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
}

#menu>ul>li a:hover {
    color: #006d00;
    ;
}

/* Header section */

#header {
    padding-top: 57px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;

}

#header-title {
    padding-right: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-1 h1 {
    font: normal normal bold 4rem Poppins;
    letter-spacing: 2.33px;
    color: #003200;
    padding-left: 100px;margin:0;line-height: 150%;
}

.title-2 h2 {
    letter-spacing: 0.63px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 1rem;
}

.title-2 {
    background: #126011 0% 0% no-repeat padding-box;
    padding: 0 100px;
}

.title-3 h3 {
    text-align: left;
    letter-spacing: 0.63px;
    color: #126011;
    padding-left: 100px; 
    margin: 0;
}

/* Benefits section */

#benefits {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.benefits-container {
    width: 50%;
}

.benefits-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.benefits-list>li {
    text-align: left;
    letter-spacing: 0.5px;
    color: #959595;
    text-transform: uppercase;
    font-weight: 800;
    width:40%;
    margin: 15px;
}

/* why we do this section */

#why-we-do-this {
    margin: 6rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subheader {
    display: flex;
    margin-bottom: 4rem;
}

.vl {
    border-left: 2px solid #959595;
    margin-right: 1rem;
}

.text-small {
    color: #5DAF00;
    font-size: 20px;
    font-weight: bold;
}

.text-subheader {
    font: normal normal bold 63px/87px Poppins;
    font-weight: bold;
    color: #003200;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    background-color: #126011;
    width: 472px;
    height: 551px;
    border-radius: 8px;
    color: #FFFFFF80;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.number {
    font: normal normal bold 127px/190px Poppins;
    color: #FFFFFF;
    margin: 2rem;
}

.tile-header {
    font: normal normal bold 30px/40px Poppins;
    color: #FFFFFF;
    margin: 0 2rem;
}

p {
    font: normal normal normal 20px/32px Poppins;
    color: #FFFFFF80;
    margin: 2rem;
}

/* recipes */

#recipes {
    display: flex;
    flex-direction: column;
}

.recipe-tile{
    width: 344px;
    height: 469px;
    background: #003200 0% 0% no-repeat padding-box;
    margin: 1rem;
}

.recipe-tile > img{
    width: 344px;
    height: 224px;
}